hl7v3-spec/src/main/resources/wsdl/XCPD_RespondingGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2010 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->

<definitions
    name="RespondingGateway"
    targetNamespace="urn:ihe:iti:xcpd:2009"
    xmlns:xcpd="urn:ihe:iti:xcpd:2009"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:hl7="urn:hl7-org:v3">

    <documentation>IHE Cross-Community Patient Discovery Responding Gateway = ITI-55</documentation>

    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
            xmlns:hl7="urn:hl7-org:v3">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201305UV02.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
            xmlns:hl7="urn:hl7-org:v3">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201306UV02.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
            xmlns:hl7="urn:hl7-org:v3">
            <xsd:include
                schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201303UV02.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
            <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
        </xsd:schema>

        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xcpd:2009">
            <!-- Include the message schema -->
            <xsd:import namespace="urn:ihe:iti:xcpd:2009" schemaLocation="../schema/xcpd.xsd"/>
        </xsd:schema>
    </types>


    <message name="PRPA_IN201305UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201305UV02"/>
    </message>
    <message name="PRPA_IN201306UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201306UV02"/>
    </message>
    <message name="PRPA_IN201303UV02_Message">
        <part element="hl7:PRPA_IN201303UV02" name="Body"/>
    </message>
    <message name="MCCI_IN000002UV01_Message">
        <part name="Body" element="hl7:MCCI_IN000002UV01"/>
    </message>
    <message name="PatientLocationQuery_Message">
        <part name="body" element="xcpd:PatientLocationQueryRequest"/>
    </message>
    <message name="PatientLocationQueryResponse_Message">
        <part name="body"
            element="xcpd:PatientLocationQueryResponse"/>
    </message>

    <portType name="RespondingGateway_PortType">
        <!-- Cross-Gateway Patient Discovery -->
        <operation name="RespondingGateway_PRPA_IN201305UV02">
            <input message="xcpd:PRPA_IN201305UV02_Message"
                wsaw:Action="urn:hl7-org:v3:PRPA_IN201305UV02:CrossGatewayPatientDiscovery"/>
            <output message="xcpd:PRPA_IN201306UV02_Message"
                wsaw:Action="urn:hl7-org:v3:PRPA_IN201306UV02:CrossGatewayPatientDiscovery"/>
        </operation>
        <operation name="RespondingGateway_PRPA_IN201303UV02">
            <input message="xcpd:PRPA_IN201303UV02_Message"
                wsaw:Action="urn:hl7-org:v3:PRPA_IN201303UV02"/>
            <output message="xcpd:MCCI_IN000002UV01_Message"
                wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </operation>
    </portType>
    <portType name="RespondingGateway_PLQ_PortType">
        <!-- Patient Location Query operation-->
        <operation name="RespondingGateway_PatientLocationQuery">
            <input message="xcpd:PatientLocationQuery_Message"
                wsaw:Action="urn:ihe:iti:xcpd:2009:PatientLocationQuery"/>
            <output message="xcpd:PatientLocationQueryResponse_Message"
                wsaw:Action="urn:ihe:iti:xcpd:2009:PatientLocationQueryResponse"/>
        </operation>
    </portType>

    <binding name="RespondingGateway_Binding_Soap12" type="xcpd:RespondingGateway_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RespondingGateway_PRPA_IN201305UV02">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="RespondingGateway_PRPA_IN201303UV02">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <binding name="RespondingGateway_PLQ_Binding_Soap" type="xcpd:RespondingGateway_PLQ_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RespondingGateway_PatientLocationQuery">
            <wsoap12:operation soapAction="urn:ihe:iti:xcpd:2009:PatientLocationQuery"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="XCPD">
        <port binding="xcpd:RespondingGateway_Binding_Soap12" name="RespondingGateway_Port_Soap12">
            <wsoap12:address location="http://localhost/RespondingGateway"/>
        </port>
        <port binding="xcpd:RespondingGateway_PLQ_Binding_Soap" name="RespondingGateway_PLQ_Port_Soap">
            <wsoap12:address location="http://localhost/PatientDiscovery"/>
        </port>
    </service>
</definitions>
